# 1. Empêcher le listage des dossiers 
Options -Indexes

# 2. Gestion des redirections et réécritures
<IfModule mod_rewrite.c>
    RewriteEngine On


</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 month"
</IfModule>